In [19]:
import pandas as pd
import numpy as np
s1 = pd.Series(np.random.rand(4))
s2 = pd.Series(np.random.rand(4))
s3 = pd.Series(np.random.rand(4))
s4 = pd.Series(np.random.rand(4))
df = pd.DataFrame([s1,s2,s3,s4])
df

          0         1         2         3
0  0.636914  0.747652  0.950418  0.763902
1  0.211295  0.184988  0.593740  0.211280
2  0.648099  0.080710  0.703610  0.722773
3  0.178137  0.954627  0.544084  0.876662

In [20]:
df.columns = ['Random value 1','Random value 2','Random value 3','Random value 4']
df

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.636914        0.747652        0.950418        0.763902
1        0.211295        0.184988        0.593740        0.211280
2        0.648099        0.080710        0.703610        0.722773
3        0.178137        0.954627        0.544084        0.876662

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Random value 1  4 non-null      float64
 1   Random value 2  4 non-null      float64
 2   Random value 3  4 non-null      float64
 3   Random value 4  4 non-null      float64
dtypes: float64(4)
memory usage: 256.0 bytes

In [22]:
stats_numeric = df['Random value 1'].describe()
print(stats_numeric)

count    4.000000
mean     0.418611
std      0.258926
min      0.178137
25%      0.203005
50%      0.424104
75%      0.639710
max      0.648099
Name: Random value 1, dtype: float64

In [23]:
stats_numeric = df['Random value 3'].describe()
print(stats_numeric)

count    4.000000
mean     0.697963
std      0.181022
min      0.544084
25%      0.581326
50%      0.648675
75%      0.765312
max      0.950418
Name: Random value 3, dtype: float64

In [24]:
stats = df.describe(include='all')
print(stats)

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.418611        0.491994        0.697963        0.643654
std          0.258926        0.425362        0.181022        0.295499
min          0.178137        0.080710        0.544084        0.211280
25%          0.203005        0.158918        0.581326        0.594900
50%          0.424104        0.466320        0.648675        0.743338
75%          0.639710        0.799396        0.765312        0.792092
max          0.648099        0.954627        0.950418        0.876662

In [25]:
df.isnull()

   Random value 1  Random value 2  Random value 3  Random value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False

In [26]:
df['Random value 3'].dtype

dtype('float64')

In [27]:
df.loc[0:3,'Random value 2':'Random value 3']

   Random value 2  Random value 3
0        0.747652        0.950418
1        0.184988        0.593740
2        0.080710        0.703610
3        0.954627        0.544084